<p></p>
<h1> All Mutation Details </h1>
<p></p>


<div class="table-responsive">
    <table class='bootstrap-table table table-hover table-bordered'
           data-toggle="table"
           data-search="true"
           data-show-columns="true"
           data-pagination="true">
        <thead class="table-light">
            <tr>
                <th>Mutation</th>
                <th data-field="isoform" data-sortable="true">Isoform</th>
                <th data-field="domain" data-sortable="true">Domain</th>
                <th data-field="species" data-sortable="true">Species</th>
                <th data-field="presentation">Presentation</th>
                <th data-field="year" data-sortable="true">Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @mutation.each do |mutation| %>
                <tr>
                    <td><%= mutation.mutation %></td>
                    <td>
                        <span class="badge rounded-pill <%= isoform_class(mutation.isoform) %>"><%= mutation.isoform %></span>
                    </td>
                    <td><%= mutation.domain %></td>
                    <td><%= mutation.species %></td>
                    <td><%= mutation.presentation %></td>
                    <td><%= mutation.year %></td>
                    <td><%= link_to 'Show', mutation_path(mutation), class: 'btn btn-secondary btn-sm' %>  <a class="btn btn-secondary btn-sm" href= <%= mutation.url %> >URL</a> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>