<h1> Expanded Mutation Details </h1>

<p><strong>Mutation: </strong> <%= @mutation.mutation %> </p>
<p><strong>Isoform: </strong><%= @mutation.isoform %> </p>
<p><strong>Domain: </strong><%= @mutation.domain %> </p>
<p><strong>Presentation: </strong><%= @mutation.presentation %> </p>
<p><strong>Category: </strong><%= @mutation.category %> </p>
<p><strong>Residue: </strong><%= @mutation.residue %> </p>
<p><strong>From: </strong><%= @mutation.from %> </p>
<p><strong>To: </strong><%= @mutation.to %> </p>
<p><strong>Inheritance: </strong><%= @mutation.inheritance %> </p>
<p><strong>Mutation Type: </strong><%= @mutation.mutation_type %> </p>
<p><strong>Year: </strong><%= @mutation.year %> </p>
<p><strong>Species: </strong><%= @mutation.species %> </p>
<p><strong>Families Affected: </strong><%= @mutation.families_affected %> </p>
<p><strong>Age of Onset: </strong><%= @mutation.age_of_onset %> </p>
<p><strong>Reference: </strong><%= @mutation.reference %> </p>
<p><strong>URL: </strong><%= @mutation.url %> </p>









<p>
    <%= link_to "Return to index", mutations_path %>
</p>